/* Fonts Added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Header Styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 130px 110px;
}

/* Hero Banner Styles */

.hero-banner {
  width: 1230px;
  height: 560px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/hero-banner.png');
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner h4 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 30px;
  margin-bottom: 15px;
}

.hero-banner h1 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 67px;
  font-weight: 900;
  line-height: 88px;
}

/* Main Styles */

/* Discount Section Styles */

.discount-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-section h2 {
  color: #ECA646;
  text-align: center;
  font-family: Inter;
  font-size: 82px;
  font-weight: 700;
  margin-bottom: 45px;
}

.discount-section p {
  color: #ECA646;
  text-align: center;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.discount-section h3 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 45px;
}

.discount-section img {
  width: 750px;
  height: 460px;
  margin-bottom: 110px;
}