/* Fonts Added */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Common Styles */
.section-sub-title {
  color: #ECA646;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
}

.section-title {
  color: #070211;
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-description {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 18px;
  line-height: 30px;
  width: 50%;
  margin-bottom: 45px;
}

.btn-primary {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: #ECA646;
  border: 0;
}

/* Header Styles */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 130px 110px;
}

/* Hero Banner Styles */

.hero-banner {
  width: 1230px;
  height: 560px;
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/hero-banner.png');
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner h4 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 30px;
  margin-bottom: 15px;
}

.hero-banner h1 {
  color: #FFF;
  text-align: center;
  font-family: Merriweather;
  font-size: 67px;
  font-weight: 900;
  line-height: 88px;
}

/* Main Styles */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Discount Styles */

.discount-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.discount-section h2 {
  color: #ECA646;
  text-align: center;
  font-family: Inter;
  font-size: 82px;
  font-weight: 700;
  margin-bottom: 45px;
}

.discount-section img {
  width: 750px;
  height: 460px;
  margin-top: 25px;
  margin-bottom: 110px;
}

/* Midnight Party Styles */

.midnight-party-section {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 1230px;
  height: 560px;
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/midnight-party.png');
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  margin: 0px auto 110px;
}

.midnight-party-section div {
  width: 50%;
}

.midnight-party-section h1 {
  color: #FFF;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
  letter-spacing: 6px;
}

.midnight-party-section p {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}

/* Portfolio Styles */

.portfolio-section {
  margin-bottom: 110px;
}

.column {
  display: flex;
  gap: 22px;
  margin-bottom: 22px;
}

.img-container {
  height: 420px;
  overflow: hidden;
  border-radius: 15px;
  border: 5px solid #eca74600;
}

.img-container img {
  transition: transform .5s ease;
}

.img-container img:hover {
  transform: scale(1.5);
}

.img-container:hover {
  border: 5px solid #ECA646;
}

/* Newsletter Styles */
.newsletter-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgba(236, 166, 70, 0.10);
  padding: 75px 200px;
  margin: 0 130px 110px;
}

.newsletter-section img {
  margin-bottom: 40px;
}

.newsletter-section .section-description {
  text-align: center;
  width: 60%;
}


.newsletter-section input[type="email"] {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 24px 28px;
  width: 400px;
  background-color: #FFF;
  border: 0;
  font-family: Inter;
  font-size: 16px;
}

.newsletter-section input[type="email"]:focus {
  outline: 2px solid #ECA646;
  border: 0px;
}


.newsletter-section input[type="submit"] {
  position: relative;
  left: -5px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 0px 46.75px 46.75px 0px;
  background-color: #ECA646;
  border: 0;
  padding: 24px 28px;
}

/* Footer Styles */

footer {
  background-color: #CF8D3D;
  padding: 130px 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-info {
  display: flex;
  gap: 500px;
  justify-content: space-between;
  align-items: center;
}

.footer-info p {
  color: #FFF;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}

.footer-contacts {
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

footer hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin: 45px 0;
}

.social-links {
  margin: 0 auto;
}

.social-links img {
  width: 60px;
  margin-left: 22px;
}